@import "../base/_mixins";
@import "../base/_vars";

/* -------------------------------------------------------------------------- */
/*                             checkbox and radio                             */
/* -------------------------------------------------------------------------- */

.form-check {
  padding-left: 0;
  padding-inline-start: 1.5em;

  .form-check-input {
    @include rtl {
      float: right;
      margin-right: -1.5em;
      margin-left: 0;
    }
  }

  .form-check-label {
    margin-inline-start: 1rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 form label                                 */
/* -------------------------------------------------------------------------- */
.form-label {
  text-transform: capitalize;
  font-family: $theme-font;
  font-weight: 600;

  span {
    margin-inline: 4px;
    color: red;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 placeholder                                */
/* -------------------------------------------------------------------------- */
.form-control::placeholder {
  font-family: $theme-font;
}

/* -------------------------------------------------------------------------- */
/*                                form control                                */
/* -------------------------------------------------------------------------- */
.form-control:focus {
  box-shadow: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                 form group                                 */
/* -------------------------------------------------------------------------- */
.input-group {
  overflow: hidden;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;

  &:has(.form-control:focus) {
    border-color: $form-control-border-color;
  }

  &:has(.form-control.is-invalid) {
    border-color: $danger;
  }

  .input-group-text {
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
  }

  .form-select {
    border: none;
  }

  .form-control {
    border-radius: 0;
    border: none;
    border-color: transparent;
    box-shadow: none;
    &.is-invalid,
    &.is-valid {
      box-shadow: none;
    }
  }
}

.form-select {
  background-position: right 0.75rem center;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;

  @include rtl {
    background-position: left 0.75rem center;
    padding: 0.375rem 0.75rem 0.375rem 2.25rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 validation                                 */
/* -------------------------------------------------------------------------- */
.is-invalid {
  &.form-control {
    padding-inline: $form-btn-p-lg-x !important;
    padding-inline-end: $input-height-inner !important;
    @include rtl {
      background-position: left $input-height-inner-quarter center;
    }

    @include ltr {
      background-position: right $input-height-inner-quarter center;
    }
  }

  &.form-control {
    padding-inline: $form-btn-p-lg-x !important;
    padding-inline-end: $input-height-inner !important;
    @include rtl {
      background-position: left $input-height-inner-quarter center;
    }

    @include ltr {
      background-position: right $input-height-inner-quarter center;
    }
  }

  &.form-select {
    padding-inline: $input-padding-x !important;
    padding-inline-end: $form-select-feedback-icon-padding-end !important;
    @include rtl {
      background-position: left 0.75rem center, center left 2.25rem !important;
    }

    @include ltr {
      background-position: right 0.75rem center, center right 2.25rem !important;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 placeholder                                */
/* -------------------------------------------------------------------------- */
.form-control::placeholder {
  font-family: $theme-font;
  font-size: 16;
}

.form-filled {
  .form-control {
    padding: 0.8rem 1rem;
    background-color: $gray-100;
    border: none;

    &::placeholder {
      color: $gray-700;
      font-size: medium;
    }
  }

  .input-group {
    overflow: hidden;
    background-color: $gray-100;
    border: none;

    .form-select {
      background-color: transparent;
    }

    & > * {
      border: none;
      border-radius: 0;
    }
  }

  .form-select {
    background-color: $gray-100;
    border: none;
    color: $gray-700;
    option {
      color: $gray-700;
    }
    padding-block: 0.8rem !important;
  }
}
