@import "../base/_mixins";

/* -------------------------------------------------------------------------- */
/*                             checkbox and radio                             */
/* -------------------------------------------------------------------------- */

.form-check {
  padding-left: 0;
  padding-inline-start: 1.5em;

  .form-check-input {
    @include rtl {
      float: right;
      margin-right: -1.5em;
      margin-left: 0;
    }
  }

  .form-check-label {
    margin-inline-start: 1rem;
  }
}
