$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          state: hover,
          responsive: true,
          values: $theme-colors,
        )
      ),
    "fill": (
      property: fill,
      state: hover,
      class: fill,
      responsive: true,
      values: $theme-colors,
    ),
    "stroke": (
      property: stroke,
      state: hover,
      class: stroke,
      responsive: true,
      values: $theme-colors,
    ),
  )
);
