@import "../base/vars";

/* -------------------------------------------------------------------------- */
/*                                form control                                */
/* -------------------------------------------------------------------------- */
$input-padding-y: $form-control-p-y;
$input-padding-x: $form-control-p-x;
$input-border-radius: $form-control-radius;
$input-focus-box-shadow: none;
$input-focus-border-color: $form-control-border-pressed-color;
$input-border-color: $form-control-border-color;

/* -------------------------------------------------------------------------- */
/*                             checkbox and radio                             */
/* -------------------------------------------------------------------------- */
$form-check-input-width: 1.5em;
$form-check-input-checked-bg-color: $green-600;
$form-check-input-focus-box-shadow: none;

/* -------------------------------------------------------------------------- */
/*                                   select                                   */
/* -------------------------------------------------------------------------- */
$form-select-padding-y: $form-control-p-y;
$form-select-padding-x: $form-control-p-x;

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */
.btn {
  font-weight: 600 !important;
}
