@import "../base/mixins";
@import "../base/vars";

.service-sidebar {
  @include breakpoint(lg) {
    transform: translateY(-41%);
    margin-bottom: -41%; /* Add this line to compensate for the translation */
  }
}

#common-header-content {
  @include breakpoint(lg) {
    width: calc(100% - 420px);
  }
}

.services-owl {
  .owl-dots {
    margin-top: 25px !important; /* adjust as needed */
  }

  .owl-dot.active span {
    background-color: $green-600 !important; /* Bootstrap primary color or any color you want */
  }

  .owl-dot span {
    background-color: $gray-200 !important; /* default dot color */
    width: 12px; /* size of the dot */
    height: 12px;
    border-radius: 50%;
    display: block;
  }
}

.service-social-side {
  @include breakpoint(lg) {
    width: 410px;
  }
}
