<div class="card bg-neutral-50 border-0 p-2 news-card rounded-4">
    <div class="card-body">
        <div class="news-card-image mb-4">
            <img src="@@img">
        </div>
        <h5 class="news-title fs-18 fw-700">عنوان بطاقة الأخبار في سطرين</h5>
        <p class="news-desc fs-16 mb-4">هنا يمكنك تضمين وصف موجز للعنوان في أربعة أسطر. هنا يمكنك
            تضمين
            وصف
            موجز للعنوان في أربعة أسطر.</p>


        <a
            class="btn btn-primary "
            href="/news-details.html"
            role="button"
        > قراءة المزيد</a>

    </div>
</div>