<div class="bg-neutral-50 control-bar border border-neutral-primary border-bottom-1">
    <div class="outer-container d-flex justify-content-between align-items-center">

        <!-- Desktop layout -->
        <div class="d-flex gap-4">
            <div class="d-flex gap-2 align-items-center">
                <img
                    src="images/icons/wheather.svg"
                    height="18"
                    width="18"
                    alt="weather"
                    class="object-fit-contain"
                    id="weather-icon"
                >
                <span
                    class="text-primary-paragraph fs-14"
                    id="weather-status"
                >غائم</span>
            </div>
            <div class="d-none d-md-flex gap-2 align-items-center">
                <img
                    src="images/icons/calender.svg"
                    height="18"
                    width="18"
                    alt="calender"
                    class="object-fit-contain"
                >
                <span
                    class="text-primary-paragraph fs-14"
                    id="date-time"
                >3-سبتمبر-2024</span>
            </div>
            <div class="d-none d-md-flex gap-2 align-items-center">
                <img
                    src="images/icons/clock.svg"
                    height="18"
                    width="18"
                    alt="time"
                    class="object-fit-contain"
                >
                <span
                    class="text-primary-paragraph fs-14"
                    id="time"
                >2:30 مساءً</span>
            </div>
            <div class="d-none d-md-flex gap-2 align-items-center">
                <img
                    src="images/icons/location.svg"
                    height="18"
                    width="18"
                    alt="location"
                    class="object-fit-contain"
                >
                <span
                    class="text-primary-paragraph fs-14"
                    id="location"
                >الرياض</span>
            </div>
        </div>


        <!-- Desktop actions -->
        <div class=" d-flex gap-2">
            <button class="control-btn btn"><img
                    src="images/icons/eye.svg"
                    alt="eye"
                ></button>
            <button class="control-btn btn"><img
                    src="images/icons/zoom_in.svg"
                    alt="zoom in"
                ></button>
            <button class="control-btn btn"><img
                    src="images/icons/zoom_out.svg"
                    alt="zoom out"
                ></button>
            <button class="control-btn btn"><img
                    src="images/icons/mic.svg"
                    alt="mic"
                ></button>
        </div>
    </div>
</div>