<nav class="navbar navbar-expand-xl navbar-light bg-white">
    <div class="outer-container d-flex align-items-center">

        <!-- Logo -->
        <a
            class="navbar-brand m-0"
            href="/index.html"
        >
            <img
                src="images/ncim.png"
                alt="NCIM Logo"
                title="المركز الوطني لتفتيش والرقابة"
                style="height:auto; max-height:60px;"
            >
        </a>

        <!-- Toggler -->
        <button
            class="navbar-toggler  ms-auto"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        aria-current="page"
                        href="/index.html"
                    >الرئيسية</a>
                </li>
                <li class="nav-item dropdown position-static">
                    <a
                        class="nav-link gap-2"
                        href="/about.html"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        عن المركز <img src="images/icons/arrow_down.svg">
                    </a>
                    <ul
                        class="dropdown-menu w-100 bg-white mega-menu"
                        aria-labelledby="navbarDropdown"
                    >
                        <div class="outer-container">
                            <div class="row g-4 row-cols-4">
                                <div>
                                    <h6 class="fw-bold px-3 mb-2 text-primary">عن المركز</h6>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/about.html"
                                    >
                                        <img src="images/icons/check.svg">
                                        <span>نبذة عن المركز</span>
                                    </a>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/structure.html"
                                    >
                                        <img src="images/icons/stucture.svg">
                                        <span>الهيكل التنظيمي</span>
                                    </a>
                                </div>
                                <div>
                                    <h6 class="fw-bold px-3 mb-2 text-primary">من نخدم</h6>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/owners-and-individuals.html"
                                    >
                                        <img src="images/icons/bussiness.svg">
                                        <span>أصحاب العمل والأفراد</span>
                                    </a>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/gov.html"
                                    >
                                        <img src="images/icons/gov.svg">
                                        <span>الجهات الحكومية والمنفذة</span>
                                    </a>
                                </div>
                                <div>
                                    <h6 class="fw-bold px-3 mb-2 text-primary">الأنظمة والمصطلحات</h6>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/rules-and-regulations.html"
                                    >
                                        <img src="images/icons/ins.svg">
                                        <span>الأنظمة واللوائح</span>
                                    </a>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/terminology.html"
                                    >
                                        <img src="images/icons/dictionary.svg">
                                        <span>المصطلحات</span>
                                    </a>
                                </div>
                                <div>
                                    <h6 class="fw-bold px-3 mb-2 text-primary">الشفافية والحوكمة</h6>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/reports.html"
                                    >
                                        <img src="images/icons/chart.svg">
                                        <span>التقارير السنوية</span>
                                    </a>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/privacy.html"
                                    >
                                        <img src="images/icons/policy.svg">
                                        <span>سياسة الخصوصية</span>
                                    </a>
                                    <a
                                        class="dropdown-item d-flex gap-3 align-items-center"
                                        href="/freedom.html"
                                    >
                                        <img src="images/icons/freedom.svg">
                                        <span>حرية الحصول على المعلومات</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/news.html"
                    >الأخبار والأحداث</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/services.html"
                    >الخدمات</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/support.html"
                    >المساعدة والدعم</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/contact-us.html"
                    >تواصل معنا</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/faq.html"
                    >الأسئلة الشائعة</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/site-map.html"
                    >خريطة الموقع</a>
                </li>
            </ul>

            <!-- Search Form -->
            <div class="d-flex navbar-nav gap-3">
                <a
                    class="btn border-0"
                    role="button"
                    href="/map.html"
                >
                    <img src="images/icons/search.svg">
                </a>
                <div class="dropdown">
                    <a
                        class="nav-link"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        English
                    </a>
                    <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                    >
                        <li class="dropdown-item">العربية</li>
                        <li class="dropdown-item">English</li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <button
                        class="btn btn-background-black-default"
                        type="button"
                    >
                        تسجيل الدخول</button>
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- Offcanvas Menu for Mobile -->
<!-- Offcanvas Menu for Mobile -->
<div
    class="offcanvas offcanvas-end offcanvas-nav"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
>
    <div class="offcanvas-header border-bottom">
        <img
            src="images/ncim.png"
            alt="ncim"
            height="30"
        >

        <button
            type="button"
            class="btn-close text-reset ms-auto me-0"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>

    <div class="offcanvas-body d-flex flex-column">
        <form class="d-flex position-relative w-100 me-3">
            <input
                class="form-control ps-5 "
                type="search"
                placeholder="ابحث..."
                aria-label="Search"
            >
            <button
                class="btn border-0 position-absolute start-0 top-0 d-flex align-items-center justify-content-center h-100"
                type="submit"
            >
                <img
                    src="images/icons/search.svg"
                    alt="Search"
                    width="20"
                >
            </button>
        </form>
        <ul class="navbar-nav me-auto mb-2 ps-0 w-100">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    aria-current="page"
                    href="/index.html"
                >الرئيسية</a>
            </li>

            <!-- Mobile Mega Menu (simplified) -->
            <li class="nav-item dropdown">
                <a
                    class="nav-link d-flex justify-content-between align-items-center"
                    href="/about.html"
                    id="mobileDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    عن المركز
                    <img src="images/icons/arrow_down.svg">
                </a>
                <ul
                    class="dropdown-menu w-100 position-relative dropdown-menu-no-transform "
                    aria-labelledby="mobileDropdown"
                >
                    <li>
                        <h6 class="dropdown-header fw-bold text-primary">عن المركز</h6>
                    </li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/about.html"
                        >
                            <img
                                src="images/icons/check.svg"
                                width="20"
                            >
                            <span>نبذة عن المركز</span>
                        </a></li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/structure.html"
                        >
                            <img
                                src="images/icons/stucture.svg"
                                width="20"
                            >
                            <span>الهيكل التنظيمي</span>
                        </a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <h6 class="dropdown-header fw-bold text-primary">من نخدم</h6>
                    </li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/owners-and-individuals.html"
                        >
                            <img
                                src="images/icons/bussiness.svg"
                                width="20"
                            >
                            <span>أصحاب العمل والأفراد</span>
                        </a></li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/gov.html"
                        >
                            <img
                                src="images/icons/gov.svg"
                                width="20"
                            >
                            <span>الجهات الحكومية والمنفذة</span>
                        </a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <h6 class="dropdown-header fw-bold text-primary">الأنظمة والمصطلحات</h6>
                    </li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/rules-and-regulations.html"
                        >
                            <img
                                src="images/icons/ins.svg"
                                width="20"
                            >
                            <span>الأنظمة واللوائح</span>
                        </a></li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/terminology.html"
                        >
                            <img
                                src="images/icons/dictionary.svg"
                                width="20"
                            >
                            <span>المصطلحات</span>
                        </a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <h6 class="dropdown-header fw-bold text-primary">الشفافية والحوكمة</h6>
                    </li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/reports.html"
                        >
                            <img
                                src="images/icons/chart.svg"
                                width="20"
                            >
                            <span>التقارير السنوية</span>
                        </a></li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/privacy.html"
                        >
                            <img
                                src="images/icons/policy.svg"
                                width="20"
                            >
                            <span>سياسة الخصوصية</span>
                        </a></li>
                    <li><a
                            class="dropdown-item d-flex gap-3 align-items-center"
                            href="/freedom.html"
                        >
                            <img
                                src="images/icons/freedom.svg"
                                width="20"
                            >
                            <span>حرية الحصول على المعلومات</span>
                        </a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/news.html"
                >الأخبار والأحداث</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/services.html"
                >الخدمات</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/support.html"
                >المساعدة والدعم</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/contact-us.html"
                >تواصل معنا</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/faq.html"
                >الأسئلة الشائعة</a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/site-map.html"
                >خريطة الموقع</a>
            </li>

            <li class="nav-item dropdown">
                <a
                    class="nav-link d-flex justify-content-between align-items-center"
                    href="#"
                    id="mobileDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    English
                    <img src="images/icons/arrow_down.svg">
                </a>
                <ul
                    class="dropdown-menu w-100 position-relative dropdown-menu-no-transform "
                    aria-labelledby="mobileDropdown"
                >
                    <li>
                        <a
                            class="dropdown-item"
                            href="#"
                        >
                            <span>العربية</span>
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            href="#"
                        >
                            <span>English</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Login Button at bottom -->
        <div class="mt-auto pt-3">
            <button
                class="btn btn-dark w-100"
                type="button"
            >
                تسجيل الدخول
            </button>
        </div>
    </div>
</div>